* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: initial;
}

.large {
    height: 100%;
    width: 85%;
}

.small {
    height: 100%;
    width: 70%;
}

li {
    display: flex;
    list-style-type: none;
}

/** HEADER ==========================================================================*/
header {
    width: 100%;
    height: 80px;
    position: absolute;
}

.container_header {
    width: 100%;
    height: 100%;
}

.row_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.col_logo {
    width: 165px;
    height: 100%;
    padding: 20px
}

.col_logo>img {
    object-position: center;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 10;
    height: 100%;
}

.a_wrapper_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.a_wrapper_left>a {
    text-align: center;
    width: 30%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.a_wrapper_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.a_wrapper_right>a {
    text-align: center;
    width: 30%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn_wrapper {
    width: 165px;
    text-align: center;
}

.btn_start {
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    background-color: blue;
    color: white;
}
/** HEADER=========================================================================*/

/** MAIN===========================================================================*/
/** SECTION 01=====================================================================*/
.section_01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: rgba(15, 176, 234, 0.314);
}

.container_01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.row_top_section_01 {
    width: 100%;
    padding: 20px;
}

.row_top_section_01>h1 {
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
}

.row_bottom_section_01 {
    display: flex;
    width: 100%;
    height: 70%;
}

.col_01 {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    font-size: 25px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col_01>a {
    background-color: blue;
    padding: 10px;
    color: white;
}

.col_02 {
    width: 70%;
    height: 100%;
}

.col_02>img {
    width: 100%;
}
/** SECTION_02=====================================================================*/
.section_02 {
    min-height: 1500px;
    padding-top: 100px;
}

.container_02 {
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    flex-direction: column;
}

.row_top_section_02>h1 {
    font-size: 60px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.checkbox {
    padding: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row_center_section_02 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 800px;
    gap: 40px;
}

.col_section_02 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid;
}

.plan_section_02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border: 1px solid;
}

.description_box_01 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description_box_02>ul {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 20px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description_box_02 li {
    gap: 10px;
}

.description_box_03 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 40px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid;
}

.btn_prova_gratis {
    align-self: center;
}

.btn_prova_gratis>a {
    background-color: blue;
    color: white;
    padding: 10px;
    
}

.acquista>a {
    color: blue;
    text-decoration: underline;
}

.row_bottom_section_02 {
    min-height: 300px;
}

/** DEBUG ==========================================================================*/
.debug header {
    border: 2px solid black;
    /* background-color: rgba(15, 176, 234, 0.435); */
}

.debug .row_header {
    border: 1px dashed black;
}

.debug .col_logo {
    border: 1px dashed black;
}

.debug nav {
    border: 1px dashed black;
}

.debug .row_header>a {
    border: 1px dashed ;
}

.debug .btn_wrapper {
    border: 1px dashed black;
}

.debug .a_wrapper_left {
    border: 1px dashed black;
}

.debug .a_wrapper_right {
    border: 1px dashed
}

.debug .btn_start {
    border: 3px dashed black;
}
/** HEADER=========================================================================*/

/** MAIN===========================================================================*/
/** SECTION 01=====================================================================*/
.debug .section_01 {
    border: 1px solid black;
}

.debug .container_01 {
    border: 2px dashed black;
}

.debug .row_top_section_01 {
    border: 1px dashed black;;
}

.debug .row_bottom_section_01 {
    border: 1px dashed black
}

.debug .col_01 {
    border: 1px dashed black
}

.debug .col_02 {
    border: 1px dashed black
}
/** SECTION 02=====================================================================*/
.debug .section_02 {
    border: 2px dashed black
}

.debug .container_02 {
    border: 2px dashed black;
    min-height: 1500px;
}

/* .debug .row_center_section_02>[class^="col"] {
    border: 1px dashed violet;
} */

.debug .row_bottom_section_02 {
    border: 1px dashed green;
}